---
layout: default
---

<div>
  <div class="col-md-8">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <span class="glyphicon glyphicon-pencil"></span> Posts
      </div>
      <ul class="panel-body">
        {% for post in site.posts %}
          <li>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a> &mdash;&nbsp;<span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <span class="glyphicon glyphicon-bullhorn"></span> Blogroll
      </div>
      <div class="panel-body">
        {% include blogroll.html %}
      </div>
    </div>
  </div>
</div>
