<h4 class="text-center">People</h4>
<div class="list-group text-center">
  <a class="list-group-item" href="http://blogs.msdn.com/b/oldnewthing/">Raymond Chen</a>
  <a class="list-group-item" href="http://www.joelonsoftware.com/">Joel Spolsky</a>
  <a class="list-group-item" href="http://blog.codinghorror.com/">Jeff Atwood</a>
  <a class="list-group-item" href="http://blogs.msdn.com/b/oldnewthing/archive/2013/12/24/10484402.aspx">James Mickens</a>
  <a class="list-group-item" href="http://www.paulgraham.com/">Paul Graham</a>
  <a class="list-group-item" href="http://steve-yegge.blogspot.ca/">Steve Yegge</a>
  <a class="list-group-item" href="http://cbloomrants.blogspot.ca/">cbloom</a>
  <a class="list-group-item" href="http://haacked.com/">Phil Haack</a>
</div>

<h4 class="text-center">Places</h4>
<div class="list-group text-center">
  <a class="list-group-item" href="http://www.xkcd.com/">XKCD</a>
  <a class="list-group-item" href="http://explosm.net/">Cyanide & Happiness</a>
  <a class="list-group-item" href="http://invisiblebread.com/">Invisible Bread</a>
  <a class="list-group-item" href="http://www.mspaintadventures.com/">MS Paint Adventures</a>
</div>
