<h4>People</h4>
<div class="list-group">
  <a class="list-group-item" href="http://blogs.msdn.com/b/oldnewthing/">Raymond Chen</a>
  <a class="list-group-item" href="http://www.joelonsoftware.com/">Joel Spolsky</a>
  <a class="list-group-item" href="http://blog.codinghorror.com/">Jeff Atwood</a>
  <a class="list-group-item" href="http://blogs.msdn.com/b/oldnewthing/archive/2013/12/24/10484402.aspx">James Mickens</a>
  <a class="list-group-item" href="http://www.paulgraham.com/">Paul Graham</a>
  <a class="list-group-item" href="http://steve-yegge.blogspot.ca/">Steve Yegge</a>
  <a class="list-group-item" href="https://en.wikipedia.org/wiki/Why_the_lucky_stiff">why the lucky stiff</a>
</div>

<h4>Places</h4>
<div class="list-group">
  <a class="list-group-item" href="http://www.xkcd.com/">XKCD</a>
  <a class="list-group-item" href="http://explosm.net/">Cyanide & Happiness</a>
  <a class="list-group-item" href="http://invisiblebread.com/">Invisible Bread</a>
  <a class="list-group-item" href="http://www.mspaintadventures.com/">MS Paint Adventures</a>
</div>