<div>
  <h3>Blogroll</h3>
  <h4>People</h4>
  <ul>
    <li><a href="http://blogs.msdn.com/b/oldnewthing/">Raymond Chen</a></li>
    <li><a href="http://www.joelonsoftware.com/">Joel Spolsky</a></li>
    <li><a href="http://blog.codinghorror.com/">Jeff Atwood</a></li>
    <li><a href="http://blogs.msdn.com/b/oldnewthing/archive/2013/12/24/10484402.aspx">James Mickens</a></li>
    <li><a href="http://www.paulgraham.com/">Paul Graham</a></li>
    <li><a href="http://steve-yegge.blogspot.ca/">Steve Yegge</a></li>
    <li><a href="https://en.wikipedia.org/wiki/Why_the_lucky_stiff">why the lucky stiff</a></li>
  </ul>
  
  <h4>Places</h4>
  <ul>
    <li><a href="http://www.xkcd.com/">XKCD</a></li>
    <li><a href="http://explosm.net/">Cyanide & Happiness</a></li>
    <li><a href="http://invisiblebread.com/">Invisible Bread</a></li>
    <li><a href="http://www.mspaintadventures.com/">MS Paint Adventures</a></li>
  </ul>
</div>