---
layout: default
---
<div class="post">
  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta"><i class="fa fa-calendar"></i> {{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • <i class="fa fa-pencil"></i> {{ page.author }}{% endif %}{% if page.category %} • <i class="fa fa-tag"></i> {{ page.category }}{% endif %}</p>
  </header>
  <article class="post-content">
    {{ content }}
  </article>
  <nav>
    <ul class="pager">
      {% if page.previous %}
      <li class="previous">
        <a rel="prev" title="Previous Post: {{ page.previous.title }}" href="{{ page.previous.url }}">&larr; {{ page.previous.title }} </a>  
      </li>
      {% endif %}
      {% if page.next %}
      <li class="next">
        <a rel="next" title="Next Post: {{ page.next.title }}" href="{{ page.next.url }}"> {{ page.next.title }} &rarr;</a>
      </li>
      {% endif %}
    </ul>
  </nav>
</div>
